In [31]:
!pip install -q snscrape==0.3.4

In [32]:
import pandas as pd
import numpy as np
import string
import os
from datetime import date

In [33]:
today = date.today()
end_date = today

In [34]:
search_term_list = ['aap','bsp','bjp','sp','congress']
from_date = '2021-01-01'
max_results = 1000

In [35]:
import time
start = time.time()
# your code
def extracted_tweets(search_term):
  '''Fuction to extract text f from twitter and create text files..'''
  for i in range(len(search_term)):
    os.system("snscrape --format '{content!r}'"+ f" --max-results {max_results} --since {from_date} twitter-search '{search_term[i]} until:{end_date}' > {search_term[i]}.txt")
# end
print(f'Time: {time.time() - start}')
extracted_tweets(search_term_list)

Time: 0.0002503395080566406

In [36]:
start = time.time()
# your code
text_files=['aap.txt','bjp.txt','bsp.txt','congress.txt','sp.txt']
def merge_text_files(text_files):
  '''Function to merge five text files into single merge file..'''
  with open('merge_file.txt', 'w') as outfile:
    for i in text_files:
      with open(i) as infile:
        for line in infile:
          outfile.write(line)
# end
print(f'Time: {time.time() - start}')
merge_text_files(text_files)

Time: 0.00014972686767578125

In [37]:
#convert text file into csv file
df = pd.read_csv("/content/merge_file.txt",header = None,names=['text'])
df.to_csv('text_file.csv',index = None)

# Loading Data

In [38]:
df=pd.read_csv('text_file.csv')
df.head()

                                                text
0             '@Rizwank3315 Bhai aap ko dm karna he'
1  '@teamimrankhanpm Bismillah Hir Rahma Nir Rahi...
2  '@Shailes47245787 @Alienkumar1 @TeamKangana5 B...
3  '@mehmoodkakar604 @ShakilRai2 @YouTube AUS SE ...
4         '@ShubhiM42016011 Aap aaj aayiye thik hai'

Checking Null values in dataframe:

In [39]:
df.isnull().sum()

text    0
dtype: int64

# cleaning of data

To remove usernames:

In [40]:
#Remove the username from each row of data with different conditions...
df['text'] = df['text'].str.replace(r'\s*@\w+', '', regex=True)
df['text'] = df['text'].str.replace(r'\s*\B@\w+', '', regex=True)
df['text'] = df['text'].str.replace(r'\s*@\S+', '', regex=True)
df['text'] = df['text'].str.replace(r'\s*@\S+\b', '', regex=True)

df

                                                   text
0                            ' Bhai aap ko dm karna he'
1     ' Bismillah Hir Rahma Nir Rahim MashaAllah Mas...
2     ' Bhai aap jaise logo ko sirf kamiya hi dikhti...
3     ' AUS SE BARRA NAWAZ AKA BAKWAAS SHARIF FUNDIN...
4                            ' Aap aaj aayiye thik hai'
...                                                 ...
4990            ' Campina √© mais movimentada q SP! üòèüòãüî•'
4991                      ' „ÅÇ„Çä„Åå„Å®„ÅÜÔæÅÔΩ≠ÔΩØÔæÅÔΩ≠ÔæäÔæüÔΩØÔæäÔæüÔΩ∫ÔΩØÔΩ∫ÔæÅÔΩ≠ÔΩ≤ÔæùÔæÅÔΩ≠ÔΩ≤Ôæù'
4992      ' Depois que renovou nunca mais foi o mesmo.'
4993                                  'Self-sufficient'
4994  '„Åä„ÅØ„Ç¢„É≠„Éºüèπ\n‰ªäÊó•„ÅØ„ÄÅ‰ºë„Åø„Å™„ÅÆ„ÅßÂØù„Å¶„Åæ„Åó„ÅüüòÖ\nÊúÄËøëÁñ≤„Çå„ÅåÂá∫„Å¶„ÅÑ„Å¶„ÄÅË∂£Âë≥„Çí„Åô„Çã„É¢„ÉÅ„Éô„ÇÇ‰∏ã...

[4995 rows x 1 columns]

Function to remove punctuations:

In [41]:
# define punctuation
start = time.time()
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
# function to remove punctuation 
def remove_punctuations(row):
    '''Function to remove different punctuations from each row of data..'''
    no_punct = ""
    for i in row:
        if i not in punctuations:
            no_punct = no_punct + i
    return no_punct
print(f'Time: {time.time() - start}')

Time: 0.00017452239990234375

In [42]:
df['text'] = df['text'].apply(remove_punctuations)
df

                                                   text
0                               Bhai aap ko dm karna he
1      Bismillah Hir Rahma Nir Rahim MashaAllah Mash...
2      Bhai aap jaise logo ko sirf kamiya hi dikhti ...
3      AUS SE BARRA NAWAZ AKA BAKWAAS SHARIF FUNDING...
4                               Aap aaj aayiye thik hai
...                                                 ...
4990                Campina √© mais movimentada q SP üòèüòãüî•
4991                         „ÅÇ„Çä„Åå„Å®„ÅÜÔæÅÔΩ≠ÔΩØÔæÅÔΩ≠ÔæäÔæüÔΩØÔæäÔæüÔΩ∫ÔΩØÔΩ∫ÔæÅÔΩ≠ÔΩ≤ÔæùÔæÅÔΩ≠ÔΩ≤Ôæù
4992          Depois que renovou nunca mais foi o mesmo
4993                                     Selfsufficient
4994  „Åä„ÅØ„Ç¢„É≠„Éºüèπn‰ªäÊó•„ÅØ„ÄÅ‰ºë„Åø„Å™„ÅÆ„ÅßÂØù„Å¶„Åæ„Åó„ÅüüòÖnÊúÄËøëÁñ≤„Çå„ÅåÂá∫„Å¶„ÅÑ„Å¶„ÄÅË∂£Âë≥„Çí„Åô„Çã„É¢„ÉÅ„Éô„ÇÇ‰∏ã„Åå„ÇäÊ∞ó...

[4995 rows x 1 columns]

Function to remove emojis:

In [43]:
start = time.time()
def remove_emoji(row):
    '''Function to remove emojis from each row of dataset..'''
    a = ''
    for i in row:
        b=i.encode('ascii', 'ignore').decode('ascii')
        a+=b
    return a
print(f'Time: {time.time() - start}')

Time: 0.0001823902130126953

In [44]:
df['text'] = df['text'].apply(remove_emoji)
df

                                                   text
0                               Bhai aap ko dm karna he
1      Bismillah Hir Rahma Nir Rahim MashaAllah Mash...
2      Bhai aap jaise logo ko sirf kamiya hi dikhti ...
3      AUS SE BARRA NAWAZ AKA BAKWAAS SHARIF FUNDING...
4                               Aap aaj aayiye thik hai
...                                                 ...
4990                    Campina  mais movimentada q SP
4991
4992          Depois que renovou nunca mais foi o mesmo
4993                                     Selfsufficient
4994                       nnnSPnnn1 httpstco2e213RdoDm

[4995 rows x 1 columns]

In [45]:
df.isnull().sum()

text    0
dtype: int64

In [46]:
df.head(10)

                                                text
0                            Bhai aap ko dm karna he
1   Bismillah Hir Rahma Nir Rahim MashaAllah Mash...
2   Bhai aap jaise logo ko sirf kamiya hi dikhti ...
3   AUS SE BARRA NAWAZ AKA BAKWAAS SHARIF FUNDING...
4                            Aap aaj aayiye thik hai
5                    sir vimal khana kab choroge aap
6  Kitne hurdles aae lekin apna kaam karte rahe A...
7  Aap yadi kisi aesi cheez par kabja karke baith...
8   I have either disliked or liked political par...
9                                You are good leader

Replace Uppercase letter to Lowercase:

In [47]:
#Replace uppercase letter to lowercase
df['text']=df['text'].str.lower()

In [48]:
df.head(10)

                                                text
0                            bhai aap ko dm karna he
1   bismillah hir rahma nir rahim mashaallah mash...
2   bhai aap jaise logo ko sirf kamiya hi dikhti ...
3   aus se barra nawaz aka bakwaas sharif funding...
4                            aap aaj aayiye thik hai
5                    sir vimal khana kab choroge aap
6  kitne hurdles aae lekin apna kaam karte rahe a...
7  aap yadi kisi aesi cheez par kabja karke baith...
8   i have either disliked or liked political par...
9                                you are good leader

# Labelling

To extract specif values from text column for labelling...

In [49]:
#create new column label and store the extracted elements i.e elements of list
df['label'] = df.text.str.lower().str.extract('(aap|bsp|bjp|sp|congress)')

In [50]:
df.head(10)

                                                text label
0                            bhai aap ko dm karna he   aap
1   bismillah hir rahma nir rahim mashaallah mash...   aap
2   bhai aap jaise logo ko sirf kamiya hi dikhti ...   aap
3   aus se barra nawaz aka bakwaas sharif funding...   aap
4                            aap aaj aayiye thik hai   aap
5                    sir vimal khana kab choroge aap   aap
6  kitne hurdles aae lekin apna kaam karte rahe a...   aap
7  aap yadi kisi aesi cheez par kabja karke baith...   aap
8   i have either disliked or liked political par...   aap
9                                you are good leader   NaN

Replace label with 0 and 1:

In [51]:
#Replace the extracted elements with 0 and 1
df['label'] = df['label'].replace(to_replace=['aap', 'bsp','bjp','sp','congress'], value='1')
df['label'].fillna(value = 0,inplace = True)

In [56]:
df.head(10)

                                                text label
0                            bhai aap ko dm karna he     1
1   bismillah hir rahma nir rahim mashaallah mash...     1
2   bhai aap jaise logo ko sirf kamiya hi dikhti ...     1
3   aus se barra nawaz aka bakwaas sharif funding...     1
4                            aap aaj aayiye thik hai     1
5                    sir vimal khana kab choroge aap     1
6  kitne hurdles aae lekin apna kaam karte rahe a...     1
7  aap yadi kisi aesi cheez par kabja karke baith...     1
8   i have either disliked or liked political par...     1
9                                you are good leader     0

In [53]:
df.isnull().sum()

text     0
label    0
dtype: int64

In [54]:
df['label'].value_counts()

1    2791
0    2204
Name: label, dtype: int64